p {
    margin: 0;
    background-color: black;
    color: white;
    padding-left: 4px;
}

.titleHeading {
    background-color: green;
    color: white;

    padding: 5px 10px;
}

.topicBtn {
    height: 40px;
    width: 100px;
    margin: 5px 8px 8px 0;

    background-color: aqua;
    color: white;
}

.topicBtn:hover, .selectedBtn {
    background-color: teal;
}

.selectedBtn {
    border: thick gold solid;
}


.gifDiv {
    float: left;
    margin: 0 10px 10px 0;

}

#buttonsDisplay {
    /* border: yellow dashed; */
}

#gifsDisplay {
    /* border: black dashed; */
}