p {
    margin: 0;
    background-color: black;
    color: white;
    padding-left: 4px;
}

.titleHeading {
    background-color: green;
    color: white;

    padding: 5px 10px;
}

.instructions {
    background-color: white;
    color: blue;
}

.topicBtn {
    height: 40px;
    width: 100px;
    margin: 5px 8px 8px 0;

    background-color: aqua;
    color: white;
}

.topicBtn:hover, .selectedBtn {
    background-color: teal;
}

.selectedBtn {
    border: thick gold solid;
}

.topicStyle {
    background-color: aqua;
    color: white;
    border: medium solid silver;  

    padding: 0 4px;
}

.selectedStyle {
    background-color: teal;
    color: white;
    border: medium gold solid;

    padding: 0 4px;
}

.inputStyle {
    background-color: #fff;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;

    padding: 0 4px;
}

.gifDiv {
    float: left;
    margin: 0 10px 10px 0;
}
